.container-capa{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.btn-capa{
  width: 35%;
  height: 35vh;
  margin: 2%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  font-size: 400%;
  font-weight: bolder;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  background-color: rgb(243, 253, 190);
  font-size: calc(10px + 3vw);
}

.btn-capa:hover{
  background-color: rgb(197, 240, 8);
  -webkit-text-fill-color: black;
}

@media screen and (max-width: 600px) {
  .container-capa {
    flex-direction: column; 
    align-items: center; 
  }

  .btn-capa {
    width: 90%; 
    height: auto;
    margin: 2% 0;
    font-size: 200%; 
    -webkit-text-stroke-width: 1px;
    letter-spacing: 1px; 
    -webkit-text-fill-color: black;
    font-weight: 300;
  }
}

